[submodule "private"]
	path = private
	url = git@github.com:joshuajeschek/home-manager-private.git
[submodule "home/modules/files/nvim"]
	path = home/modules/files/nvim
	url = git@github.com:joshuajeschek/nvim.git
