[submodule "private"]
	path = private
	url = git@github.com:joshuajeschek/home-manager-private.git
[submodule "home/programs/nvim/config"]
	path = home/programs/nvim/config
	url = git@github.com:joshuajeschek/nvim.git
